@if(loading){
    <div>Loading</div>
}
@if (error) {
    <div>{{error}}</div>
}
@if (cloroMeasurements.length > 0) {
    <table>
        <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
              <th>Tap</th>
              <th>Free Chlorine</th>
            </tr>
          </thead>
          <tbody>
            @for (data of cloroMeasurements; track data.id) {
                <tr>
                    <td>{{ data.date }}</td>
                    <td>{{ data.time }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.tap }}</td>
                    <td>{{ data.freeChlorine }}</td>
                </tr>
            }
    </table>
}
@if (!loading && cloroMeasurements.length === 0) {
    <p>No water quality data found.</p>
}